@model List<AcunMedyaProject0.Models.Tbl_Skill>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2 class="modern-title">Yetenekler sayfası</h2>

<div class="table-wrapper">
    <table class="my-table">
        <thead>
            <tr>
                <th>SkillID</th>
                <th>Yetenek Adı</th>
                <th>Yetkinlik</th>
                <th>Açıklama</th>
                <td>Güncelle</td>
                <td>Sil</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.SkillID</td>
                    <td>@item.SkillName</td>
                    <td>@item.Percentage</td>
                    <td> <div class="cell-content">@item.Description<</div></td>
                    <td><a href="/Skill/UpdateSkill/@item.SkillID" class="btn btn-danger">Güncelle</a></td>
                    <td><a href="/Skill/DeleteSkill/@item.SkillID" class="btn btn-dark">Sil</a></td>
                </tr>
            }
        </tbody>
    </table>
    <a href="/Skill/CreateSkill" class="btn btn-success">Ekle</a>
</div>