
@{
    ViewBag.Title = "CreateSlider";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2 class="modern-title">Slider Oluşturma Sayfası</h2>

<form method="post">
    <label>İsim Soyisim</label>
    <input type="text" class="form-control" name="NameSurname" />

    <label>Açıklama</label>
    <input type="text" class="form-control" name="Description" />

    <label>Resim Linki</label>
    <input type="text" class="form-control" name="ImageUrl" />

    <button class="btn btn-success">Ekle</button>
</form>