@model List<AcunMedyaProject0.Models.Tbl_Slider>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2 class="modern-title">Slider sayfası</h2>

<div class="table-wrapper">
    <table class="my-table">
        <thead>
            <tr>
                <th>SliderID</th>
                <th>İsim/Soyisim</th>
                <th>Açıklama</th>
                <th>ResimUrl</th>
                <th>Güncelle</th>
                <th>Sil</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.SliderID</td>
                    <td>@item.NameSurname</td>
                    <td>@item.Description</td>
                    <td><img src="@item.ImageUrl" style="width:60px" /></td>
                    <td><a href="/Slider/UpdateSlider/@item.SliderID" class="btn btn-dark">Güncelle</a></td>
                    <td><a href="/Slider/DeleteSlider/@item.SliderID" class="btn btn-danger">Sil</a></td>
                </tr>
            }
        </tbody>
    </table>
    <a href="/Slider/CreateSlider/" class="btn btn-success">Oluştur</a>
</div>

