@model AcunMedyaProject0.Models.Tbl_Slider
@{
    ViewBag.Title = "UpdateSlider";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Slider Güncelleme Sayfası</h2>

<form method="post">
    @Html.HiddenFor(x => x.SliderID)
    <br />
    <label>İsim Soyisim</label>
    @Html.TextBoxFor(x => x.NameSurname)
    <br />

    <label>Açıklama</label>
    @Html.TextBoxFor(x => x.Description)
    <br />

    <label>Resim Linki</label>
    @Html.TextBoxFor(x => x.ImageUrl)

    <button>Güncelle</button>
</form>

