
@{
    ViewBag.Title = "CreateJobs";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2 class="modern-title">Meslek Ekleme Sayfası</h2>

<form method="post">

    <label>Başlık</label>
    <input type="text" class="form-control" name="Title"/>

    <label>Başlangıç Tarihi</label>
    <input type="datetime" class="form-control" name="StartDate" />

    <label>Bitiş Tarihi</label>
    <input type="datetime" class="form-control" name="EndDate" />

    <label>Şirket İsmi</label>
    <input type="text" class="form-control" name="CompanyName" />

    <label>Açıklama</label>
    <input type="text" class="form-control" name="Description" />

    <button class="btn btn-success">Ekle</button>
</form>

