
@{
    ViewBag.Title = "CreateServices";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2 class="modern-title">Hizmetler Düzenleme Sayfası</h2>

<form method="post">

    <label>Açıklama</label>
    <input type="text" class="form-control" name="Decription" />

    <label>Başlık</label>
    <input type="text" class="form-control" name="Title" />

    <label>IconURL</label>
    <input type="text" class="form-control" name="IconUrl" />

    <label>Açıklama2</label>
    <input type="text" class="form-control" name="Decription2" />

    <button class="btn btn-success">Ekle</button>

</form>