
@{
    ViewBag.Title = "CreateEducation";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Eğitim Ekleme Sayfası</h2>

<form method="post">

    <label>Kurum Adı</label>
    <input type="text" class=" form-control" name="Name" />

    <label>Başlangıç Yılı</label>
    <input type="datetime" class=" form-control" name="StartYear" />

    <label>Bitiş Yılı</label>
    <input type="datetime" class=" form-control" name="EndYear" />

    <label>Açıklama</label>
    <input type="text" class=" form-control" name="Description" />

    <label>Bölüm</label>
    <input type="datetime" class=" form-control" name="Section" />

    <button class="btn btn-success">Ekle</button>


</form>



