
    <ul class="list-unstyled components mb-5">
        <li class="active">
            <a href="/Statistic/"><span class="fa fa-home mr-3"></span> İstatistik</a>
        </li>
        <li>
            <a href="/Categories/" class="nav-link admin-nav-link d-flex align-items-center"><span class="fa fa-th-list mr-3"></span> Kategoriler</a>
        </li>
        <li>
            <a href="/About/"><span class="fa fa-info-circle mr-3"></span> Hakkımda</a>
        </li>
        <li>
            <a href="/Contact/"><span class="fa fa-paper-plane mr-3"></span> İletişim</a>
        </li>
        <li>
            <a href="/Education/"><span class="fa fa-graduation-cap mr-3"></span> Eğitim</a>
        </li>
        <li>
            <a href="/Jobs/"><span class="fa  fa-briefcase mr-3"></span> İş</a>
        </li>
        <li>
            <a href="/Message/"><span class="fa fa-envelope mr-3"></span> Mesajlar</a>
        </li>
        <li>
            <a href="/Project/"><span class="fa fa-folder-open mr-3"></span> Projeler</a>
        </li>
        <li>
            <a href="/Services/"><span class="fa fa-sticky-note mr-3"></span> Hizmetler</a>
        </li>
        <li>
            <a href="/Skill/"><span class="fa fa-user mr-3"></span> Yetenekler</a>
        </li>
        <li>
            <a href="/Slider/"><span class="fa fa-user mr-3"></span> Slider</a>
        </li>
        <li>
            <a href="/Testimonial/"><span class="fa fa-sticky-note mr-3"></span> Referanslar</a>
        </li>
        <li>
            <a href="#"><span class="fa  fa-paper-plane mr-3"></span> Sayfaya Git</a>
        </li>
    </ul>
