
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Burası istatistik sayfası</h2>

<br />
<label>Kaç Kategori Var: @ViewBag.CategoryCount</label>

<br />
<label>Kaç Referans Var: @ViewBag.TestimonialCount</label>

<br />
<label>Son Eklenen Proje: 10</label>

<br />
<label>Kaç Proje Var: @ViewBag.ProjectCount</label>

