
@{
    ViewBag.Title = "CreateProject";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Proje Ekleme Sayfası</h2>

<form method="post">
    <label>Proje İsmi</label>
    <input type="text" class="form-control" name="ProjectName" />

    <label>Açıklama</label>
    <input type="text" class="form-control" name="Description" />

    <label>Proje Linki</label>
    <input type="text" class="form-control" name="ProjectLink" />

    <label>Resim1</label>
    <input type="text" class="form-control" name="Image1" />

    <label>Resim2</label>
    <input type="text" class="form-control" name="Image2" />

    <label>Resim3</label>
    <input type="text" class="form-control" name="Image3" />

    <label>CategoryID</label>
    <input type="number" class="form-control" name="CategoryID" />

    <button class="btn btn-success">Ekle</button>

</form>

