@model List<AcunMedyaProject0.Models.Tbl_Contact>

<div class="col-lg-4">
    <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
        <i class="bi bi-geo-alt flex-shrink-0"></i>
        <div>
            <h3>Address</h3>
            <p>@Model[0].Address</p>
        </div>
    </div><!-- End Info Item -->

    <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
        <i class="bi bi-telephone flex-shrink-0"></i>
        <div>
            <h3>Phone</h3>
            <p>@Model[0].Phone</p>
        </div>
    </div><!-- End Info Item -->

    <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
        <i class="bi bi-envelope flex-shrink-0"></i>
        <div>
            <h3>Mail</h3>
            <p>@Model[0].Email</p>
        </div>
    </div><!-- End Info Item -->

</div>
