@model List<AcunMedyaProject0.Models.Tbl_Contact>

<div class="resume-item pb-0">
    <ul>
        <li>@Model[0].Address</li>
        <li>@Model[0].Phone</li>
        <li>@Model[0].Email</li>
    </ul>
</div>
