@model List<AcunMedyaProject0.Models.Tbl_Slider>

<section id="hero" class="hero section dark-background"
    style="background: url('@Url.Content(Model[0].ImageUrl)') no-repeat center center; background-size: cover;">

    <div class="container text-center" data-aos="fade-up" data-aos-delay="100">
        <h2>@Model[0].NameSurname</h2>
        <p>@Model[0].Description<br></p>
        <a href="#about" class="btn-scroll" title="Scroll Down"><i class="bi bi-chevron-down"></i></a>
    </div>

</section>
