@model List<AcunMedyaProject0.Models.Tbl_Services>
<section id="services" class="services section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Services</h2>
        <p>Services I Can Offer You</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">

            @foreach (var item in Model)
            {
                <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
                    <div class="service-item position-relative">
                        <div class="icon"><i class="@item.IconUrl"></i></div>
                        <h4><a href="" class="stretched-link">@item.Title</a></h4>
                        <p>@item.Decription2 </p>
                    </div>
                </div>
            }



        </div>

    </div>

</section>
