@model List<AcunMedyaProject0.Models.Tbl_Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<h2 class="modern-title">Burası Kategori Sayfası</h2>

<div class="table-wrapper">
    <table class="my-table">
        <thead>
            <tr>
                <th>Kategori Sayısı</th>
                <th>CategoryID</th>
                <th>Kategori İsmi</th>
                <th>FilterClass</th>
                <th>Güncelle</th>
                <th>Sil</th>
            </tr>
        </thead>
        <tbody>
            @*for while dowhile foreach*@

            @foreach (var item in Model)//model 3 veri var
            {
                count++;
                <tr>
                    <td>@count</td>
                    <td>@item.CategoryID</td>
                    <td>@item.CategoryName</td>
                    <td>@item.FiltterClass</td>
                    <td><a href="/Categories/UpdateCategory/@item.CategoryID" class="btn btn-danger">Güncelle</a></td>
                    <td><a href="/Categories/DeleteCategory/@item.CategoryID" class="btn btn-dark">Sil</a></td>

                </tr>
            }



        </tbody>
    </table>
    <a href="/Categories/CreateCategory/" class="btn btn-success">Oluştur</a>
</div>