@model AcunMedyaProject0.Models.Tbl_Category
@{
    ViewBag.Title = "UpdateCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2 class="modern-title">Kategori Güncelleme Sayfası</h2>

<form method="post">

    @Html.HiddenFor(x => x.CategoryID)
    <label>Kategori Adı</label>
    @Html.TextBoxFor(x => x.CategoryName)
    <br />
    <label>Filter Class</label>
    @Html.TextBoxFor(x => x.FiltterClass)
    <br />
    <button>Güncelle</button>

</form>

